.advantages {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 45px;
  outline: 1px solid red;
}

.advantages__title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 60px;
  color: #111111;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  padding-bottom: 5px;
  padding-left: 80px;
  margin-bottom: 22px;
  outline: 1px solid green;
}
