.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  @include container;
}

.example__title {
  margin-top: 15px;
  margin-bottom: 22px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111;
}

.example__description {
  margin-bottom: 28px;
  font-family: Arial;
}

.example__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.example__item {
  width: 125px;
  padding-top: 13px;
  text-align: center;
  outline: 1px solid green;
}

.example__value {
  display: block;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 24px;
  color: #111;
  text-transform: uppercase;
}

.example__field {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  font-family: Arial;
}

.example__sum {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
}

.example__img {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.example__wrapper-controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 38px;
  margin-right: 30px;
  margin-left: 30px;
  @include container;
}

.example__toggle {
  width: 85px;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase;
  outline: 1px solid red;

  &--left {
    text-align: right;
  }
}

.example__controls {
  width: 120px;
  outline: 1px solid red;
}
