.header {
  border-bottom: 1px solid #ededed;

  &--main {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 20px;
    border-bottom: 1px solid #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    padding-top: 40px;
    margin-bottom: 55px;

    &--main {
      margin-bottom: 70px;
    }

    &--main::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 47%;
      height: 696px;
      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 680px auto;
      }
    }
  }
}
