.main__title {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;

  @include container;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -1px;
    height: 1px;
    width: 50vw;
    background-color: #ededed;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    height: 1px;
    width: calc(50vw - 10px);
    background-color: #ededed;
  }

  &--form {
    padding-bottom: 0;
    margin-bottom: 24px;

    &::before {
      height: 0;
      width: 0;
    }

    &::after {
      height: 0;
      width: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .main__title {
    margin-top: 38px;
    font-size: 60px;
    line-height: 60px;

    &--form {
      margin-bottom: 57px;
    }

    &::before {
      height: 0;
      width: 0;
    }

    &::after {
      height: 0;
      width: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .main__title {
    &--form {
      margin-bottom: 35px;
    }
  }
}
