.main__title {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;

  @include container;
  outline: 1px solid red;

  &--form {
    margin-bottom: 22px;
  }
}

@media (min-width: $tablet-width) {
  .main__title {
    margin-top: 47px;
    font-size: 60px;
    line-height: 60px;

    &--form {
      margin-bottom: 57px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main__title {
    &--form {
      margin-bottom: 35px;
    }
  }
}
