.main-products {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
  overflow: hidden;
}

.main-products__more {
  position: relative;
  padding-top: 22px;
  padding-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    height: 1px;
    width: 100vw;
    transform: translateX(-50%);
    background-color: #ededed;
  }
}

.main-products__show-else {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 25px;
  cursor: pointer;
  background-image: url("../img/icon-plus-mobile.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main-products__promo-title {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.main-products__info {
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

.main-products__show-all {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  background-color: #f2f2f2;

  &:hover {
    color: #111111;
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .main-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 62px;

    @include container;
  }

  .main-products__item {
    width: 325px;
  }

  .main-products__more {
    display: flex;
    flex-direction: column;
    margin-top: 138px;
    margin-bottom: 6px;
    padding-right: 39px;
    padding-left: 39px;
    padding-top: 53px;
    padding-bottom: 40px;
    width: 244px;
    border: 1px solid #ededed;

    &::before {
      height: 0;
      width: 0;
    }
  }

  .main-products__promo-title {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 17px;
  }

  .main-products__info {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .main-products__show-else {
    width: 61px;
    height: 61px;
    margin-bottom: 28px;
    background-size: 61px 61px;
  }

  .main-products__show-all {
    margin-top: auto;
    width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .main-products {
    margin-bottom: 72px;
  }

  .main-products__item {
    width: 245px;
    margin-right: 80px;
  }

  .main-products__item:nth-child(4n) {
    margin-right: 0;
  }

  .main-products__more {
    margin-bottom: 6px;
    width: 185px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-products__promo-title {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-products__info {
    padding-left: 0;
    padding-right: 0;
  }

  .main-products__show-all {
    width: 169px;
    margin-left: auto;
    margin-right: auto;
  }
}
