.main__title {
  margin-top: 18px;
  margin-bottom: 30px; 
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111;
  @include container;
  outline: 1px solid red;
  
  &--form {
    margin-bottom: 22px;
  }
}

.main__promo {
  display: block;
  width: 180px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  padding-top: 188px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  line-height: 18px;
  font-family: Arial;
  color: #fff;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #7cc053;
  outline: 1px solid red;
}
