.product {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  outline: 1px solid green;
}

.product--add {
  padding-bottom: 18px;
}

.product__link {
  width: 140px;
}

.product__link--add {
  width: 280px;
}

.product__img {
  vertical-align: bottom;
}

.product__wrapper {
  width: 140px;
}

.product__name {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-right: 50px;
  padding-top: 22px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.product__name--add {
  padding-top: 12px;
}

.product__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  outline: 1px solid red;
}

.product__item--add {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
}

.product__title {
  padding: 0;
  margin: 0;
}

.product__param {
  padding: 0;
  margin: 0;
}

.product__basket {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
