.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
  list-style: none;
}

.social__item {
  width: 20px;
  height: 20px;
  outline: 1px solid green;
}
